{% extends 'base.html.twig' %}

{% block body %}

    <div class="work project1">

        <div class="container-fluid work-title" id="work-green-color">
            <a href="{{ path('app_homepage') }}#work">
                <img class="svg arrow-previous" src="{{ asset('assets/img/diamond-arrow.svg') }}">
            </a>
            <h1>Work : Food&You | e-commerce website</h1>
        </div>

        <div class="container work-shots">
            <div class="box one">
                <img src="{{ asset('assets/img/foodandyou-home.jpg') }}">
            </div>
            <div class="box two">
                <img src="{{ asset('assets/img/foodandyou-compte.jpg') }}">
            </div>
            <div class="box three">
                <img src="{{ asset('assets/img/foodandyou-panier.jpg') }}">
            </div>
            <div class="box four">
                <img src="{{ asset('assets/img/foodandyou-home-2.jpg') }}">
            </div>
            <div class="box five">
                <img src="{{ asset('assets/img/foodandyou-restaurants.jpg') }}">
            </div>
            <div class="box six">
                <img src="{{ asset('assets/img/foodandyou-inscription-modale.jpg') }}">
            </div>
        </div>

        <div class="container work-mobile">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 work-mobile--mockup">
                    <img class="svg" src="{{ asset('assets/img/f&you-V2.svg') }}">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 work-mobile--mockup">
                    <img class="svg" src="{{ asset('assets/img/f&you-V2-signup.svg') }}">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 work-mobile--mockup">
                    <img class="svg" src="{{ asset('assets/img/f&you-V2-restos2.svg') }}">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img class="svg" src="{{ asset('assets/img/f&you-V2-panier.svg') }}">
                </div>
            </div>
        </div>

    </div>

{% endblock %}

