{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="container-fluid home-welcome">
            <div class="row">
                <div class="col-md-12 home-welcome--text">
                    <h1>Hello ! <br> I'm Wafa Adjeroudi <br> Web Integrator and UX Designer Jr <br> In love with <span class="word-auto-change bg-text">lettering</span></h1>
                </div>
                <div class="col-md-12 home-welcome--arrow perfect-center">
                    <a href="#about-me"><img id="arrow-down" class="svg" src="{{ asset('assets/img/arrow-down.svg') }}"></a>
                </div>
            </div>
        </div>
        <div class="container-fluid home-presentation" id="about-me">
            <div class="row">
                <div class="col-md-6 col-xs-12 home-presentation--left ">
                    <div class="small-title perfect-center">
                        <h2>about me</h2>
                    </div>
                    <div class="separator perfect-center">
                        <img class="svg" src="{{ asset('assets/img/waves.svg') }}">
                    </div>
                    <p>
                        The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.
                        Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymph.
                    </p>
                </div>
                <div class="col-md-6 col-xs-12 home-presentation--right perfect-center">
                    <div class="row mozaic">
                        <div class="col-sm-6 pictures" id="top-left"><figure><img src="{{ asset('assets/img/elephant.jpg') }}"></figure></div>
                        <div class="col-sm-6 pictures" id="top-right"><figure><img src="{{ asset('assets/img/macbookpro.jpg') }}"></figure></div>
                        <div class="col-sm-6 pictures" id="bottom-left"><figure><img src="{{ asset('assets/img/lettering.jpg') }}"></figure></div>
                        <div class="col-sm-6 pictures" id="bottom-right"><figure><img src="{{ asset('assets/img/woods.jpg') }}"></figure></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid home-competences">

        </div>
    </div>
{% endblock %}
